.root {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.mapElement {
    width: 500px;
    height: 500px;
    border-radius: 4px;
}

.markerElement {
    color: var(--brand-primary);
}

@media only screen and (max-width: 800px) {
    .root {
        height: 350px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .root {
        height: 300px;
        width: 100%;
    }
}