import * as React from 'react';
import * as styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = () => {
  console.log('Template Module');
  return (
    <div className={styles.root}>
      <p>Enter Content Here</p>
    </div>
  );
};

export default {{pascalCase name}};
