/* Global CSS Here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --space1: 3px;
    --space2: 5px;
    --space3: 8px;
    --space4: 13px;
    --space5: 26px;
    --space6: 52px;
    --space7: 76px;
    --space8: 112px;
    --mobile: 400px;
    --small: 600px;
    --medium: 1000px;
    --large: 1300px;
    --standard-font: "Source Sans Pro", sans-serif;
    --standard-black: #11161A;
    --standard-white: #ffffff;
    --standard-grey: #A8B2BA;
    --standard-darker: #727272;
    --standard-charcoal: #273139;
    --standard-grey-light: #EEF1F3;
    --standard-grey-lighter: #cccccc;
    --standard-grey-disabled: #C9D2D8;
    --filter-red: #FF0000;
    --filter-pink: #f79a9a;
    --filter-purple: #9900ff;
    --filter-green: #009c00;
    --filter-blue: #005F9F;
    --filter-light-blue: #00A2DA;
    --filter-lighter-blue: #00B7E7;
    --filter-white-darker: #EEEEEE;
    --filter-orange: #ff9900;
    --filter-yellow: #ffe600;
    --filter-silver: #c4c2c2;
    --brand-primary: #FF0000;
    --brand-primary-darker: #6E0000;
    --brand-primary-lighter: #FF4D4D;
  }

html, body, h1, h2, h3, h4, h5, p, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior:smooth
}

.yotpo-footer {
  display: none !important;
  color: red;
}